.hero-section {
    height: 100%;

    display: flex;
}

.left-side {
    padding-top: 7rem;
    padding-left: 9rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-side_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    flex: 1;
}

.btn {
    margin-top: 3rem;

    height: 5rem;
    width: 16rem;

    border: none;
    border-radius: 0.4rem;
    background: linear-gradient(
        to top right,
        rgba(253, 102, 56, 0.9),
        rgba(255, 72, 0, 0.9)
    );
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.btn:hover {
    background: linear-gradient(to top right, #fd6638, #ff4800);
}

.btn > a:link,
.btn > a:visited {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.left-side_social-links {
    align-self: start;
}

.right-side {
    height: 100%;
    width: 100%;
    background: url('../../assets/image/hero.jpg') no-repeat center;
    background-size: cover;
    flex: 1.2;
}

h1 {
    width: 99%;
    font-weight: 500;
    font-size: 5rem;
    line-height: 1.2;
    color: rgba(5, 5, 24, 0.836);
    letter-spacing: 0.1rem;
}

h2 {
    font-size: 2rem;
    color: rgba(61, 61, 60, 0.705);
    font-weight: 400;
}
