@import './components/HeaderComponent/headerStyles.css';
@import './components/HeroComponent/heroStyles.css';

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100vw;

    font-family: 'Roboto', sans-serif;
}

#content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}
